@import 'reset';
@import 'breakpoints';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'my_colors';
@import 'vars';
@import 'basics';


// Include the required mixins
@include typography();

// Generic Styles

.header {
	display: flex;
  flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;
	&-block {
		flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		align-self: center;
	}
	&-wrap {
    position: relative;
		height: 90vh;
		width: 100vw;
		color: $black;
		background: url('https://unsplash.it/1500/1500?image=827'), $blue1;
		background-origin: border-box;
		background-clip: border-box;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
    &:after{
      position: absolute;
      bottom: 0;
      right: 0;
      content: '\00a9 Kyle Hamlin Photography';
      color: $white;
      font-size: 80%;
      opacity: 0.3;
    }
	}
	&-image {
		align-self: center;
		&-pic {
			border-top-right-radius: 50%;
			border-bottom-left-radius: 50%;
			box-shadow: 0 0 1em #D1E2FB;
		}
	}
	&-name,
	&-lead {
		background-color: $white;
		padding: 0.5em;
		box-shadow: 0 0 1em #D1E2FB;
	}
}
.page {
	display: flex;
	flex-direction: column;
}
.header, .main, .footer {
  margin: 0 auto;
  @include phone {
      width: 100vw;
  }
  @include phablet {
      width: 90vw;
  }
  @include tablet {
      width: 85vw;
  }
  @include desktop {
      width: 70vw;
  }
  @include xl {
      width: 60vw;
  }
}
.main-wrap {
  flex-grow: 2;
	background-color: $white;
	color: $black;
}
.footer-wrap {
	color: $black;
  & h4 {
    margin: 0;
  }
}

.main {
  &-wrap {
    flex-grow: 2;
    background-color: $white;
    color: $black;
  }
  &-nav {
    height: 10vh;
    line-height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    & h3 {
      display: inline-block;
    }
  }
}

#about, #resume, #contact {
  display: none;
}
#about:target,
#resume:target,
#contact:target {
  display: block;
}
